.title-section {
    padding: 10px;
}

.section-container {
    position: relative;
}

.card-section {
    box-shadow: inset 0px 5px 15px var(--secondary-shadow);
    border-radius: 15px;
}

.card-section p {
    padding: 20px 0 0 30px;
}

.card_container {
    height: 240px;
    padding: 20px 5%;
    margin-bottom: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.expanded-view {
    height: max-content;
    padding: 20px 5%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.expand {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: -40px;
    backdrop-filter: blur(1.5px);
}

.expand p {
    font-variant: small-caps;
    font-size: 20px;
    font-weight: 600;
}

.expand:hover {
    cursor: pointer;
    filter: brightness(150%);
}

.card {
    width: 140px;
    height: 180px;
    background-color: lightcoral;
    border-radius: 15px;
    position: relative;
    display: inline-block;
    margin: 10px 50px;
}

.card_expanded {
    box-shadow: 5px 8px 10px 3px var(--secondary-shadow);
}

.card_expanded:hover {
    box-shadow: 7px 10px 10px 7px var(--secondary-shadow);
}

.card_in_hole {
    filter: brightness(80%);
}

.card_in_hole:hover {
    filter: brightness(100%);
    box-shadow: 3px 5px 10px 5px var(--secondary-shadow);
}

.photo-card {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.title-card {
    position: absolute;
    bottom: 0px;
    color: var(--ice);
    padding: 10px;
}