.homepage-main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--ice);
}

.material-icons-outlined {
    font-size: 50px;
    color: var(--indaco);
}

.menu-container {
    align-self: flex-start;
    position: relative;
    height: 100vh;
    width: 15vw;
}

.menu-icon {
    margin: 50px;
}

.menu-icon-showed {
    color: var(--ice);
    margin-bottom: 100px;
}

.showed-menu {
    background-color: var(--indaco);
}

.navbar {
    position: absolute;
    width: 15vw;
    height: 100vh;
    color: var(--ice);
    font-family: 'Fredericka the great';

    display: flex;
    flex-direction: column;
}

.menu-element {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 20px;
}

.title-menu {
    font-size: 24px;
    text-align: left;
}

.expand-icon {
    color: var(--ice);
    font-size: 24px;
}

.logo-img {
    align-self: flex-start;
    width: 100px;
    margin: 20px;
}

.middle-container {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.association-container {
    color: var(--indaco);
    margin: auto 0;
}

.association-name,
.association-slogan {
    font-family: 'Aboreto';
    text-align: left;
}

.association-name {
    font-size: 80px;
}

.scroll-down-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll {
    font-size: 24px;
    font-weight: 700;
    font-variant: small-caps;
    color: var(--indaco);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 25%;
    height: 120vh;
    color: var(--indaco);
}

section h1,
section h3 {
    font-family: 'Fredericka the great';
    margin-bottom: 10px;
}

section h1 {
    font-size: 44px;
}

section h3 {
    font-size: 32px;
}

section p {
    font-size: 20px;
    margin-bottom: 12px;
}

section hr {
    color: var(--indaco);
}

.chi-siamo-section {
    background-color: var(--ice-variant);
}

.practices-section {
    background-color: var(--ice);
}

.courses-section {
    height: 100vh;
    background-color: var(--ice-variant);
}