.homepage-main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #B5D5C5; */
    background-color: #874C62;
}

.homepage-main div {
    
    height: 100vh;
}

.homepage-main img {
    height: 90%;
}

.footer-menu {
    position: fixed;
    width: 100%;
    height: 90px;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-element {
    position: relative;
}

.menu-element:hover .nav-container {
    display: block;
    cursor: pointer;
}

.link-bio,
.title-type {    
    background-color: var(--third-color);
    text-decoration: none;
    padding: 10px;
    width: 100px;
    font-weight: 900;
    color: var(--first-color);
    border-radius: 4px;
    text-align: center;
}

.menu-element:hover .title-type {
    border-radius: 0 0 4px 4px;
}

.title-type:hover {
    filter: brightness(125%);
    cursor: pointer;
}

.nav-container {
    display: none;
}

.container-link {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -190px;
    width: 100%;
}

.link-activities {
    height: 30px;
    padding-top: 6px;
    padding-bottom: 2px;
    color: var(--first-color);
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    background-color: rgb(247, 223, 166);
}

.link-activities:hover {
    height: 30px;
    background-color: rgb(247, 223, 166);
    filter: brightness(125%);
}

.first-link {
    border-radius: 4px 4px 0 0;
}