.title-section {
    font-family: 'Aboreto';
    padding: 10px;
}

.cardSection_container {
    height: 240px;
    padding: 20px 5%;
    /* border-top: 2px solid var(--shadow); */
    border-radius: 15px;
    margin-bottom: 50px;
    overflow: hidden;
}

.expanded-view {
    height: max-content;
    padding: 20px 5%;
    /* border-top: 2px solid var(--shadow); */
    border-radius: 15px;
    margin-bottom: 50px; 
}

.expand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expand p {
    font-variant: small-caps;
}

.expand:hover {
    cursor: pointer;
    filter: brightness(150%);
}

.card {
    width: 140px;
    height: 180px;
    background-color: lightcoral;
    border-radius: 15px;
    position: relative;display: inline-block;
    margin: 10px 50px;
}

.photo-card {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.title-card {
    position: absolute;
    bottom: 0px;
    color: var(--ice);
    padding: 10px;
}