:root {
  --first-color: #B5D5C5;
  --second-color: #8397C7;
  --indaco: #7999ED;
  --fourth-color: #A7D2CB;
  --ice: #E5E6E8;
  --ice-variant: #d8dce9;
  --black: rgba(52,52,52,0.9);
}

/* 
B5D5C5
AAE3E2
B4CDE6
 */

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


/* provare effetto parallax */

